<mat-card class="file-input" [class.active]="hover">
  <label class="file-input__label" *ngIf="label" (click)="f.click()">
    {{ label }}
    <input
      type="file"
      class="file-input__button"
      #f
      (change)="selectFile(f.value)"
    />
  </label>
  <ng-container *ngIf="selectedFile">
    <ng-container *ngIf="progress && progress < 1">
      <mat-progress-spinner [value]="progress * 100" [mode]="'determinate'"></mat-progress-spinner>
    </ng-container>
    {{ selectedFile }}
  </ng-container>
</mat-card>
